:root {
  --vp-sidebar-width: 280px;
  --vp-content-max-width: 960px;
  --vp-layout-max-width: 1440px;
}

html {
  scroll-behavior: auto;
}

.vp-doc a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

figure {
  margin: 1.2rem 0;
}

figure > img {
  display: block;
  margin: 0 auto;
}

figure > figcaption {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.9em;
  color: var(--vp-c-text-2);
}

.markmap-svg {
  width: 100%;
  height: 420px;
}
